{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>To Do</h2>
      <ul class="list-group mb-4">
        <form action="" method="POST">
          {% for card in view_model.todo_cards() %}
            <div>
                <input type="checkbox" id="card_todo" name="card" value={{ card.id }}
                {% if card.checked %} checked {% endif %}>
                <label id="card_label" for={{ card.id }}>{{ card.title }}</label>
                <input type="submit" name="delete_{{ card.id }}" value="Delete">
            </div>
          {% endfor %}
          <h2>Done</h2>
          {% for card in view_model.done_cards() %}
          <div>
              <input type="checkbox" id="card_done" name="card" value={{ card.id }}
              {% if card.checked %} checked {% endif %}>
              <label for={{ card.id }}>{{ card.title }}</label>
              <input type="submit" name="delete_{{ card.id }}" value="Delete">
          </div>
        {% endfor %}
          <input type="submit" value="Save">
          <div>
            <label for="field_name">Add new card: </label>
            <input type="text" name="field_name" id="field_name">
            <input type="submit" id="submit" value="Submit">
          </div>
        </form>
      </ul>
    </div>
  </div>
{% endblock %}